@import './base.scss';

#main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'aside  header  header'
    'aside   section  section';
  grid-template-rows: auto 1fr;
}

#section {
  grid-area: section;
  padding: 16px 32px;
}
